- id: 0524328688aa429fa8af402b703769eb
  alias: Lock Test
  trigger:
  - platform: state
    entity_id: sensor.e228af50d523_action
    to: lock
  condition:
  - condition: template
    value_template: '{{ trigger.to_state.attributes[''action_id''] == 4}}'
  action:
  - service: persistent_notification.create
    data_template:
      title: Lock is open
      message: "Opening method: {{ trigger.to_state.attributes['method'] }} \nUser
        ID: {{ trigger.to_state.attributes['key_id'] }} \nAction ID: {{ trigger.to_state.attributes['action_id']
        }}\n"
  mode: restart
- id: '1640350101551'
  alias: 儲藏室 門-燈 聯動
  description: ''
  triggers:
  - type: opened
    device_id: 53e55baa6f02e2d5907fb29626c0f0d1
    entity_id: binary_sensor.e4aaec354309_contact
    domain: binary_sensor
    trigger: device
  - type: not_opened
    device_id: 53e55baa6f02e2d5907fb29626c0f0d1
    entity_id: binary_sensor.e4aaec354309_contact
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - choose:
    - conditions:
      - type: is_open
        condition: device
        device_id: 53e55baa6f02e2d5907fb29626c0f0d1
        entity_id: binary_sensor.e4aaec354309_contact
        domain: binary_sensor
      sequence:
      - data: {}
        action: light.turn_on
        target:
          entity_id: light.xuan_guan_3jian_switch_2
    default:
    - data: {}
      action: light.turn_off
      target:
        entity_id: light.xuan_guan_3jian_switch_2
  mode: restart
- id: '1640351800992'
  alias: 大門關閉-關玄關燈
  description: ''
  trigger:
  - platform: state
    entity_id: sensor.e228af50d523_action
    to: lock
  condition:
  - condition: template
    value_template: '{{ trigger.to_state.attributes[''action_id''] == 1}}'
  action:
  - delay:
      hours: 0
      minutes: 3
      seconds: 0
      milliseconds: 0
  - service: light.turn_off
    target:
      entity_id: light.entryway_light
  mode: restart
- id: '1640353743986'
  alias: 大門從外打開-開燈
  description: ''
  trigger:
  - platform: state
    entity_id: sensor.e228af50d523_action
    to: lock
  condition:
  - condition: template
    value_template: '{{ trigger.to_state.attributes[''action_id''] == 0}}'
  action:
  - delay:
      hours: 0
      minutes: 0
      seconds: 0
      milliseconds: 500
  - service: light.turn_on
    target:
      entity_id: light.entryway_light
    data: {}
  mode: restart
- id: '1640439262774'
  alias: 關閉所有電燈 按鈕動作
  description: ''
  triggers:
  - device_id: 4615f45210087836ebe74fee2431cc8f
    domain: xiaomi_gateway3
    type: action
    id: TurnOffAllLight
    state: single
    trigger: device
  - device_id: 7fa40b842b5b822ab2e73498c03e152e
    domain: xiaomi_gateway3
    type: action
    trigger: device
    state: button_3_single
    alias: 玄關3鍵 Action button_3_single
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: TurnOffAllLight
      sequence:
      - action: light.turn_off
        metadata: {}
        target:
          entity_id: light.all
        data: {}
    default:
    - action: light.turn_off
      metadata: {}
      target:
        entity_id: light.all
      data: {}
  mode: restart
- id: '1683450231179'
  alias: 次臥開關燈
  description: ''
  triggers:
  - device_id: d76c0a45cac78dc54a4fd36ae4ce751b
    domain: xiaomi_gateway3
    type: action
    id: SingleClick
    state: single
    trigger: device
  - device_id: d76c0a45cac78dc54a4fd36ae4ce751b
    domain: xiaomi_gateway3
    type: action
    id: DoubleClick
    state: double
    trigger: device
  - device_id: d76c0a45cac78dc54a4fd36ae4ce751b
    domain: xiaomi_gateway3
    type: action
    id: Triple
    state: triple
    trigger: device
  conditions: []
  actions:
  - if:
    - condition: trigger
      id:
      - SingleClick
    then:
    - if:
      - condition: device
        type: is_on
        device_id: f97f4ed86cda87d80ecd8bef08c14e23
        entity_id: 503c6763e4a5a8c61b4f33eee40dd3e8
        domain: light
      then:
      - data: {}
        target:
          device_id:
          - fe10d6fbd8fea654e0a804b8df37355e
          - 82905c77b5a4913bb0d18519a267bcbe
          - f97f4ed86cda87d80ecd8bef08c14e23
        action: light.turn_off
      else:
      - data:
          effect: Day
          brightness_pct: 95
        target:
          device_id:
          - fe10d6fbd8fea654e0a804b8df37355e
          - 82905c77b5a4913bb0d18519a267bcbe
          - f97f4ed86cda87d80ecd8bef08c14e23
        action: light.turn_on
  - if:
    - condition: trigger
      id:
      - DoubleClick
    then:
    - if:
      - condition: state
        entity_id: light.mismartledceilinglight450_c087
        attribute: color_mode
        state: '2'
      then:
      - data:
          effect: Day
          transition: 2
        target:
          device_id:
          - fe10d6fbd8fea654e0a804b8df37355e
          - 82905c77b5a4913bb0d18519a267bcbe
          - f97f4ed86cda87d80ecd8bef08c14e23
        action: light.turn_on
      else:
      - data:
          effect: Night
          transition: 2
        target:
          device_id:
          - fe10d6fbd8fea654e0a804b8df37355e
          - 82905c77b5a4913bb0d18519a267bcbe
          - f97f4ed86cda87d80ecd8bef08c14e23
        action: light.turn_on
  mode: single
- id: '1700876766465'
  alias: 玄關燈控制
  description: 玄關燈聯動人在感測器
  triggers:
  - type: occupied
    device_id: 7872874a2f6c61a99d4943a6c8303e3b
    entity_id: 3e1b98a4ff288f2f36fae870b4bdec6d
    domain: binary_sensor
    id: 有人
    trigger: device
  - type: not_occupied
    device_id: 7872874a2f6c61a99d4943a6c8303e3b
    entity_id: 3e1b98a4ff288f2f36fae870b4bdec6d
    domain: binary_sensor
    id: 無人
    for:
      hours: 0
      minutes: 0
      seconds: 10
    trigger: device
  conditions: []
  actions:
  - if:
    - condition: trigger
      id:
      - 有人
    then:
    - data: {}
      target:
        entity_id:
        - light.xuan_guan_3jian_switch_1
      action: light.turn_on
    else:
    - data: {}
      target:
        entity_id:
        - light.xuan_guan_3jian_switch_1
      action: light.turn_off
  mode: restart
- id: '1701960165387'
  alias: DPN watchdog
  description: ''
  trigger:
  - platform: state
    entity_id:
    - binary_sensor.ping_dpn
    from: 'on'
    for:
      hours: 0
      minutes: 5
      seconds: 0
  condition: []
  action:
  - service: switch.turn_off
    data: {}
    target:
      entity_id: switch.smartplug1
  - delay:
      hours: 0
      minutes: 0
      seconds: 5
      milliseconds: 0
  - service: switch.turn_on
    data: {}
    target:
      entity_id: switch.smartplug1
  - service: notify.notify
    data:
      message: DPN斷線
      title: DPN斷線
  mode: single
- id: '1701962228566'
  alias: Manual Polling Enterty
  description: ''
  trigger:
  - platform: time_pattern
    minutes: /2
  condition: []
  action:
  - service: homeassistant.update_entity
    target:
      entity_id: binary_sensor.ping_dpn
    data: {}
  mode: single
- id: '1705327289903'
  alias: 客浴風機
  description: 客浴風機開啟30分鐘後自動關閉
  trigger:
  - platform: device
    type: turned_on
    device_id: 0e97341322c5adb9e9684ad94ad9c5f9
    entity_id: d81d06b1565f2d10af14d6a9e5c0ad91
    domain: fan
    for:
      hours: 0
      minutes: 30
      seconds: 0
    id: BySwitchOn
  - type: occupied
    platform: device
    device_id: 82e46966697e5ac6b35f9cb20bf7616e
    entity_id: 5dccf466d35545fc317bdd861e2bdba4
    domain: binary_sensor
    for:
      hours: 0
      minutes: 3
      seconds: 0
    id: ByPresenceTime
  condition: []
  action:
  - if:
    - condition: trigger
      id:
      - BySwitchOn
    then:
    - service: fan.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: fan.ke_yu_kai_guan
  - if:
    - condition: trigger
      id:
      - ByPresenceTime
    then:
    - service: fan.turn_on
      metadata: {}
      data: {}
      target:
        entity_id: fan.ke_yu_kai_guan
  mode: single
- id: '1705754026355'
  alias: 魚缸插座定時
  description: ''
  triggers:
  - at: '19:30:00'
    id: 'On'
    trigger: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
  - at: '22:00:00'
    id: 'Off'
    trigger: time
  - at: '19:30:00'
    id: On-weekend
    trigger: time
    weekday:
    - sun
    - sat
  conditions: []
  actions:
  - if:
    - condition: trigger
      id:
      - 'On'
    then:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.0x00158d00023a9dd2_plug
      action: switch.turn_on
    else: []
  - if:
    - condition: trigger
      id:
      - 'Off'
    then:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.0x00158d00023a9dd2_plug
      action: switch.turn_off
  - if:
    - condition: and
      conditions:
      - condition: trigger
        id:
        - On-weekend
      - condition: time
        weekday:
        - sun
        - sat
    then:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.0x00158d00023a9dd2_plug
      action: switch.turn_on
  mode: single
- id: '1706415476228'
  alias: 客浴燈光控制
  description: 人在感測器自動開關燈
  trigger:
  - type: occupied
    platform: device
    device_id: 82e46966697e5ac6b35f9cb20bf7616e
    entity_id: 5dccf466d35545fc317bdd861e2bdba4
    domain: binary_sensor
    id: 有人
  - type: not_occupied
    platform: device
    device_id: 82e46966697e5ac6b35f9cb20bf7616e
    entity_id: 5dccf466d35545fc317bdd861e2bdba4
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 10
    id: 無人
  condition: []
  action:
  - if:
    - condition: trigger
      id:
      - 有人
    then:
    - service: light.turn_on
      metadata: {}
      data: {}
      target:
        area_id: ke_yu
  - if:
    - condition: trigger
      id:
      - 無人
    then:
    - service: light.turn_off
      target:
        area_id: ke_yu
      data: {}
  mode: single
- id: '1769937184007'
  alias: 燈 | 客廳大燈
  description: ''
  triggers:
  - device_id: d6f4776cd7fc3b882d7b785173f41956
    domain: xiaomi_gateway3
    type: action
    trigger: device
    state: button_2_single
    alias: 客廳3建 action=button_2_single
  - trigger: state
    entity_id:
    - sensor.14d881e479f6_action
    to:
    - button_3_single
  conditions: []
  actions:
  - action: light.toggle
    metadata: {}
    data: {}
    target:
      device_id: 3137ef4a30bb47c6604e13f1281d8630
  mode: single
- id: '1769958444083'
  alias: 晚安
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.8446931fabac_action
    to:
    - button_3_single
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    target:
      entity_id:
      - light.bigliving
      - light.bedroom2
      - light.bedroom1
    data: {}
  - action: light.turn_on
    metadata: {}
    target:
      entity_id: light.yeelink_bslamp1_d5cd_light
    data: {}
  - delay:
      hours: 0
      minutes: 10
      seconds: 0
      milliseconds: 0
  - action: light.turn_off
    metadata: {}
    target:
      entity_id: light.bedroom1
    data: {}
  mode: restart
- id: '1770039588522'
  alias: 主浴控制
  description: ''
  triggers:
  - type: occupied
    device_id: 99a42a6c3e98ae1199d2e4607e6523af
    entity_id: 45824c136daddb27b855f46723ce9a86
    domain: binary_sensor
    trigger: device
    id: 有人
  - type: not_occupied
    device_id: 99a42a6c3e98ae1199d2e4607e6523af
    entity_id: 45824c136daddb27b855f46723ce9a86
    domain: binary_sensor
    trigger: device
    id: 無人
  conditions: []
  actions:
  - if:
    - condition: trigger
      id:
      - 有人
    then:
    - if:
      - type: is_illuminance
        condition: device
        device_id: 99a42a6c3e98ae1199d2e4607e6523af
        entity_id: 07c61e77976157d8c523c0d87f111cf7
        domain: sensor
        below: 50
        alias: 亮度在...之下
      then:
      - if:
        - condition: time
          after: '23:00:00'
        then:
        - type: turn_on
          device_id: b060fd2d48c5e7df446c501c600498ff
          entity_id: 806506ee9f263aa94a77f9d23d3df74e
          domain: light
        else:
        - action: light.turn_on
          metadata: {}
          target:
            entity_id: light.zhu_yu_deng
          data: {}
    else:
    - delay:
        hours: 0
        minutes: 0
        seconds: 30
        milliseconds: 0
    - type: turn_off
      device_id: b060fd2d48c5e7df446c501c600498ff
      entity_id: 806506ee9f263aa94a77f9d23d3df74e
      domain: light
    - type: turn_off
      device_id: b060fd2d48c5e7df446c501c600498ff
      entity_id: 89c6bff0535dcdbd2e61514d95116812
      domain: switch
    - type: turn_off
      device_id: b060fd2d48c5e7df446c501c600498ff
      entity_id: f3240cbc68888e285fe6cda08a7908e0
      domain: switch
    - type: turn_off
      device_id: b060fd2d48c5e7df446c501c600498ff
      entity_id: aaa27559db4cb6e77b8d056989255505
      domain: switch
    - action: light.turn_off
      metadata: {}
      target:
        entity_id: light.zhu_yu_deng
      data: {}
  mode: restart
